.nav-wrapper {
    width: 95%;
    margin: 0 auto !important;
    padding: 1.55rem 0;
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.nav-content ul {
    display: flex;
    gap: 1.62rem;
}

.nav-content ul a {
    color: #fff !important;
    font-family: Poppins !important;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-nav button {
    width: 9.83381rem;
    margin-right: 4.35rem;
    padding: 0.65rem 1.43rem;
    color: #FFF;
    font-family: Poppins;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: #DF6951;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 20px 35px rgba(223, 105, 81, 0.15);
}


.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #DF6951;
}

.menu-btn {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    background: transparent;
    line-height: 0;
    cursor: pointer;
    display: none;
    z-index: 1111;
}

.btn-close {
    color: #DF6951;
    position: fixed;
    right: 40%;
    top: 2rem;
}



@media screen and (max-width:992px) {
    .menu-btn {
        display: block;
    }

    .nav-content ul {
        display: none;
    }

    .button-nav button {
        display: none;
    }

    .nav-content ul a {
        color: #000 !important;
    }
}