.card-explore-1,
.card-explore-2 {
    width: 50%;
    text-align: center;
    color: #fff;
    margin-top: 5.62rem;
    padding: 4.69rem 0;
}

.card-explore-1 {
    background: url('../../assets/e1.png')no-repeat center center;
    background-size: cover;
}

.card-explore-2 {
    background: url('../../assets/e2.png')no-repeat center center;
    background-size: cover;
    ;
}

.card-explore-1 button,
.card-explore-2 button {
    display: flex;
    width: 11.4375rem;
    height: 3.625rem;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 0.65294rem;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #FFF;
    box-shadow: 0px 20px 35px 0px rgba(223, 105, 81, 0.15);
}

@media screen and (max-width:992px) {

    .card-explore-1,
    .card-explore-2 {
        width: 100%;
        text-align: center;
        color: #fff;
        margin: 1.55rem 0;
        padding: 4.69rem 0;
    }
}